@import './_mixins.scss';

.reservation__form {
    @include flex-column;
    width: 50vw;
    margin: 0 auto;
    label {
        @include flex-column;
        margin-bottom: 24px;
        > span {
            font-size: .8rem;
            color: var(--secondary-color);
            margin-top: 4px;
        }
    }
    .date-input {
        pointer-events: none;
    }
}

@media (max-width: 768px) {
    .reservation__form {
        width: 100%;
    }
}