.specialities {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    justify-content: center;
    padding: 0 10vw; 
}

.specialities li {
    text-align: center;
    background-color: var(--primary-color);
}

.specialities li a {
    display: block;
    font-family: var(--menu-font-family);
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
    padding: 0.8rem 2rem;
}