.react-calendar {
    margin: 8px auto 0;
}

.react-calendar > div {
    margin: 0 auto;
}

.react-calendar button {
    min-width: 80px !important;
}

.react-calendar__month-view__days > .react-calendar__tile,
.react-calendar__month-view__weekdays__weekday {
  flex-basis: 20% !important;
  max-width: 20% !important;
}

.react-calendar__month-view__weekdays__weekday:nth-child(6),
.react-calendar__month-view__weekdays__weekday:nth-child(7) {
  display: none !important;
}

.react-calendar__month-view__days__day--weekend {
  display: none !important;
}