footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem 8vw;
    color: var(--white-color);
}

@media (min-width: 800px) {
    footer {
        p {
            width: 100%;
        }
    }
}

@media (max-width: 800px) {
    footer {
        padding: 1rem 3vw;
        p {
            width: 57%;
        }
    }
}